.container {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column; /* Đổi thành column để map nằm dưới */
  align-items: center;     /* Căn giữa toàn bộ nội dung */
  gap: 2rem;
}

.content {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
}

.header > div {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.header strong {
  display: inline-block;
  width: 20%;
}

.map {
  width: 100%;
  max-width: 22rem;
  min-width: 200px;
  margin-top: 2rem;
  align-items: center;
}

.payment {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.payment a {
  background-color: #ff4d4d;
  color: white;
  padding: 0.8rem 5rem;
  border-radius: 1rem;
  text-decoration: none;
}